<!----<p>addDrivers worksssssssssssssssssssssssssssssssssssssssss!</p>-->
<div class="maincontainer">
        <div class="row">
                <div class="col s8 offset-s2">
                    <div class="card">
                        <div class="sm-jumbotron center-align">
                            <h2>Driver Registration</h2>
                        </div>
                        <form  class="col s12 white" #DriverRegistrationForm="ngForm" autocomplete="off">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="text" class="validate" name="DriverId" #DriverId="ngModel" [(ngModel)]="driver.DriverId" required>
                                    <label data-error="Required Field!">Driver Id</label>
                                </div> 
                                <div class="input-field col s6">
                                        <input type="text" class="validate" name="Email" #EmailId="ngModel" [(ngModel)]="driver.Email" required>
                                        <label data-error="Required Field!">Email</label>
                                </div>                    
                            </div>
                            <div class="row">
                                    <div class="input-field col s6">
                                        <input type="text" name="FirstName" #DriverId="ngModel" [(ngModel)]="driver.FirstName">
                                        <label>First Name</label>
                                    </div> 
                                    <div class="input-field col s6">
                                            <input type="text" name="LastName" #EmailId="ngModel" [(ngModel)]="driver.LastName">
                                            <label>Last Name</label>
                                    </div>                    
                            </div>
                            <div class="row">
                                    <div class="input-field col s6">
                                        <input type="text" name="Phone" #DriverId="ngModel" [(ngModel)]="driver.Phone">
                                        <label>Phone</label>
                                    </div>                   
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn-large btn-submit" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
</div>

